body {
  background-color: #fff8f3;

  background-image:
    linear-gradient(rgba(208,138,155,.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(200,216,184,.08) 1px, transparent 1px);

  background-size: 35px 35px;

  background-attachment: fixed;
}